---
layout: default
---

<div class="post">
<h1 class="post-title">{{ page.title }}</h1>
  <div class="post-line"></div>

  <p>A collection of projects from my professional career.</p>
  
  {% for portfolios in site.portfolio %}


<a href="{{ portfolio.url | prepend: site.baseurl }}">
        <h2>{{ portfolio.title }}</h2>
</a>

<p class="post-excerpt">{{ portfolio.description | truncate: 160 }}</p>

{% endfor %}
    
  </div>

<div class="pagination">

  <a href="#" class="top">Top</a>
</div>

</body>
</html>
